*{
    padding: 0;
    margin: 0;
}


header{
    background-color: white;
    height: 80px;
    width: 100%;
    position: fixed;
}
h1{
    color: #000079;
    font-size: 36px;
}
header ul{
    position: absolute;
    right: 3vw;
    top: 0;
    line-height: 80px;
}
h1{
    position: absolute;
    left: 30px;
    top: 0;
    line-height: 80px;
    background-image: url(images/logo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    text-indent: -9999px;
}
header h2{
    color: #000079;
    font-size: 36px;
    position: absolute;
    left: 160px;
    top: 0;
    line-height: 80px;
}
header li{
    display: inline;
    margin-right: 2.5vw;
}
header a{ 
    color: #000079;
    font-size: 24px;
    text-decoration: none;
}
header a:hover{
    text-decoration: underline;
}
.a {
    background-color:white;
    color: #000079;
    height: 100vh;  
    background-image: url("images/all.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.a h2{
    color: #000079;
    font-size: 66px;
}
.a p{
    font-size: 48px;
}

.g{
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.g h2{
    color: #000079;
    font-size: 42px;
}
.h{
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.h h2{
    color: #000079;
    font-size: 42px;
}
.h p{
    color: #000079;
    font-size: 20px;
}
.i{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.i h2{
    color: #000079;
    font-size: 42px;
}
.i p{
    color: #000079;
    font-size: 20px;
}
.j{
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.j h2{
    color: #000079;
    font-size: 42px;
}
.j p{
    color: #000079;
    font-size: 20px;
}
.z{
    height: 80vh;
    display: flex;
    
}
    
.z img{
    width: 40%;
    transform: scale(0.6);
}
.info{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info h2{
    color: #000079;
    font-size: 42px;
}
.info p{
    color: #000079;
    font-size: 20px;
    line-height:1.6em;
}
.menu {
    display: none;
}

/*響應式設計語法*/

@media screen and (max-width: 1200px){
    header ul{
        display: none;
    }
    header h1 {
        left: 2%;
        transform: translateX(-50%);
    }
    header h2 {
        left: 20%;
        transform: translateX(-50%);
        
    }
    .menu {
        display: block;
        background-color: transparent;
        color:#000079;
        font-size: 35px;
        position: absolute;
        top: 15px;
        right: 20px;
        border: none;
        cursor: pointer;
    }

}

@media screen and (max-width: 767px){
    header {
        height: 50px;
        width: 100%;
        line-height: 50px;
    }
    header ul{
        display: none;
    }
    header h1 {
        left: 10%;
        transform: translateX(-50%);
        
        transform: scale(0.6);
    }
    header h2 {
        left: 40%;
        transform: translateX(-50%);
    }
    .menu {
        display: block;
        background-color: transparent;
        color:#000079;
        font-size: 35px;
        position: absolute;
        top: 15px;
        right: 20px;
        border: none;
        cursor: pointer;
    }


}





